body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a57979;
}

.Top {
    background-color: #3f2f2f;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

.Top button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #555;
  border: none;
  cursor: pointer;
}

.Top button a {
  color: white;
  text-decoration: none;
}

.Tekst {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Tekst h2 {
    width: 100%;
}

.pizza-item {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  width: calc(50% - 10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-item img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin-bottom: 10px;
}

.buy {
  background-color: #28a745;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.buy:hover {
  background-color: #218838;
}